/* basic styling */
* {
    margin: 0;
    border: 0;
}

html, body {
    width: 100%;
    height: 100%;
}

/* layout and positioning */

.row {
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
    margin: .7rem 0;
    justify-content: center;
    align-items: center;
}

.col-3 {
    width: 30%;
}

.col-7 {
    width: 70%;
}

.col-10 {
    width: 100%;
}

.text-center {
    text-align: center;
}

/* state related styling */

.active {
    font-weight: bold;
}

/* list view */

.list {
    border: .05em solid #333;
    border-radius: .3em;
    margin: 0 1.5rem;
    display: flex;
    flex-direction: column;
}

.list-item {
    display: flex;
    flex-direction: row;
    padding: .7rem 1.2rem;
    font-size: 1.7rem;
    text-decoration: none;
    list-style-type: none;
    align-items: center;
    color: #3d3d5c;
}

.list-item:visited {
    color: #3d3d5c;
}

.list-item:nth-child(even) {
    background-color: #efeff5;
}

/* margins and padding */

.ml-1 {
    margin-left: 1rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.py-1 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.px-5 {
    padding-left: 5rem;
    padding-right: 5rem;
}

/* buttons and button links */

.btn {
    padding: .6rem 1rem;
    border-radius: 1.2rem;
    text-decoration: none;
}

.btn-light {
    color: #333;
}

.btn-light:hover, .btn-light:focus {
    background-color: #f0f0f5;
}

.btn-green {
    background-color: #33cc33;
    color: #f0f0f5;
}

.btn-green:hover, .btn-green:focus {
    background-color: #29a329;
}

/* card */

.card {
    display: flex;
    flex-direction: column;
    background: #f0f0f5;
}

.card-header, .card-footer {
    background-color: #e0e0eb;
    padding: 1rem 1.2rem
}

.card-body {
    padding: 1.5rem 1.2rem;
}

/* form inputs */

.input {
    max-width: 100%;
    padding: .4rem .8rem;
    margin-top: .6rem;
    font-size: 1.5rem;
    border-bottom: .15rem solid #c2c2d6;
    background-color: #00000000;
}

.form-label {
    font-size: 1.2rem;
}

.drop-down {
    font-size: 1.5rem;
    border-bottom: .15rem solid #c2c2d6;
    background-color: #00000000; 
}

.checkbox {
    background-color: #1a75ff;
    width: 1.5rem;
    height: 1.1rem;
}

/* navigation bar */

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

.nav-item {
    padding: .4rem .8rem;
    text-decoration: none;
    color: #333;
    border-radius: .7rem;
}

.nav-item:hover, .nav-item:focus {
    background-color: #f0f0f5;
}

.nav-bar > .active {
    background-color: #3366ff;
    color: #f0f0f5;
} 

/* alert message */

.toast-denger {
    background-color: #ff8080;
}
